.App {
  text-align: center;
}

.flexer{
  display: flex;
  gap: 20px;
  /* background-color: aqua; */
  justify-content: center;
}
.flex{
  display: flex;
  /* gap: 20px; */
  /* background-color: aqua; */
  /* justify-content: center; */
}


.textsupp{
  font-weight: bold;
  background-color: rgb(240, 255, 106);
  padding: 20px;
  border-radius: 20px;
}

.card{
  width: 200px;
  /* height: 200px; */
  margin-left: 200px;
  padding: 30px;
  justify-content: center;
  background-color: aliceblue;
}
.cardx{
  /* width: 200px; */
  /* height: 200px; */
  /* margin-left: 200px; */
  padding: 30px;
  justify-content: center;
  background-color: aliceblue;
}

.circle{
  border: 1px solid rgb(44, 44, 44);
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.textsupp:hover{
  border: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
